<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>text</key>
		<string>一男子在闹市骑摩托撞昏了一个陌生的老汉！ 男子惊吓的不知所措！围观群众越来越多！突然，该男抱住老汉，声泪俱下的喊道：“爹，你等着我，我这就去给你找医生！”说后，就跑掉了。。。老汉挣扎着愤怒的喊道：“给老子回来！”众人纷纷感慨：“这儿子当的真孝顺！”</string>
	</dict>
	<dict>
		<key>text</key>
		<string>历经磨难，青蛙王子终于跳上餐桌，希望公主能给他一个吻。公主一见到他，满心欢喜，吧唧着嘴说：「哇塞，好肥的田鸡啊！」</string>
	</dict>
	<dict>
		<key>text</key>
		<string>小明考试回家，妈妈问他：“考的咋呀？”小明说：“只有一道题错了！！”妈妈问：&quot;啥题？”小明说：“问3乘7等于几?”妈妈问：“你等于几”小明说：“我当时不管三七二十一等了个20.9！”</string>
	</dict>
	<dict>
		<key>text</key>
		<string>朝鲜：大哥，我要做核试验了。　中国：好的，什么时候？　朝：10. 　中：10？10什么？10天还是10小时？　朝：9，8,7，6。。。　中：你大爷的！</string>
	</dict>
	<dict>
		<key>text</key>
		<string>去买祭品，居然看到有纸糊的苹果手机。就问:啊哈，这里还有苹果5S啊？老祖宗会用吗？老板白了我一眼说:乔布斯都亲自下去教了，你还操什么心。我买了一个刚转身要走，老板提醒:再买个手机套吧！下面蛮潮湿的。我说好，接着老板又说再买个蓝牙耳机吧，最近下面出了新交规，开车接电话查的严。我又买个蓝牙耳机，老板继续善意提醒:最重要的还要买充电器啊！回头你祖宗找你要就不好了，光找你要是小事，让你送过去就麻烦了。我又买个充电器，然后和老板要名片。老板问:要我名片干嘛？我说烧给祖宗啊！万一出了质量问题我好让我祖宗来找你。</string>
	</dict>
	<dict>
		<key>text</key>
		<string>我一哥们跟女友分手了，想安慰他，他很霸气地说：“天下之大势，分久必合，合久必分。女人都是狗！”过了几天，发现他又跟女朋友好上了，问他啥情况，他说：“人狗情未了！”我勒个去！</string>
	</dict>
	<dict>
		<key>text</key>
		<string>怎么办啊，，，谁会修手机，我下载了个滑动解锁软件，解不开锁，，，我手机不是触屏的啊。。。。。</string>
	</dict>
	<dict>
		<key>text</key>
		<string>某日，一个对中文略知一二的老外去某工厂参观。 
半路当中，厂长说：“对不起，我去方便一下。” 
老外不懂这句中文，问翻译：“方便是什么意思。”
翻译说，“就是去厕所。”老外：“哦……”
参观结束，厂长热情地对老外说：“下次你方便的时候一起吃饭！”
老外一脸不高兴，用生硬的中文说：“我在方便的时候从来不吃饭！”</string>
	</dict>
	<dict>
		<key>text</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>text</key>
		<string>某日，一个对中文略知一二的老外去某工厂参观。 
半路当中，厂长说：“对不起，我去方便一下。” 
老外不懂这句中文，问翻译：“方便是什么意思。”
翻译说，“就是去厕所。”老外：“哦……”
参观结束，厂长热情地对老外说：“下次你方便的时候一起吃饭！”
老外一脸不高兴，用生硬的中文说：“我在方便的时候从来不吃饭！”</string>
	</dict>
	<dict>
		<key>text</key>
		<string>一男子在闹市骑摩托撞昏了一个陌生的老汉！ 男子惊吓的不知所措！围观群众越来越多！突然，该男抱住老汉，声泪俱下的喊道：“爹，你等着我，我这就去给你找医生！”说后，就跑掉了。。。老汉挣扎着愤怒的喊道：“给老子回来！”众人纷纷感慨：“这儿子当的真孝顺！”</string>
	</dict>
	<dict>
		<key>text</key>
		<string>历经磨难，青蛙王子终于跳上餐桌，希望公主能给他一个吻。公主一见到他，满心欢喜，吧唧着嘴说：「哇塞，好肥的田鸡啊！」</string>
	</dict>
	<dict>
		<key>text</key>
		<string>某日，一个对中文略知一二的老外去某工厂参观。 
半路当中，厂长说：“对不起，我去方便一下。” 
老外不懂这句中文，问翻译：“方便是什么意思。”
翻译说，“就是去厕所。”老外：“哦……”
参观结束，厂长热情地对老外说：“下次你方便的时候一起吃饭！”
老外一脸不高兴，用生硬的中文说：“我在方便的时候从来不吃饭！”</string>
	</dict>
</array>
</plist>
